.footer {
  padding: 60px 0;
  background: $vio-color;

  &_name {
    display: flex;
    justify-content: center;

    p {
      font-size: 30px;
      color: #ffffff;
      text-transform: uppercase;
      font-family: Gilroy-Bold;
      width: 280px;
      margin-bottom: 15px;


      span {
        font-size: 30px;
        font-family: Gilroy-Bold;
      }
    }
  }

  &_address {
    font-size: 20px;
    text-align: center;
    width: 100%;
    line-height: 1.7;
    color: #ffffff;
    margin-bottom: 25px;

    a {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Gilroy-SemiBold;

      svg {
        width: 30px;
        height: 30px;
        fill: $def-color;
        margin-right: 8px;
      }
    }
  }

  &_nav {

    nav.menu {
      display: flex;
      flex-direction: column;
      align-items: center;

      ul {
        text-transform: uppercase;
        text-align: center;

        li {

          a {
            color: #ffffff;
            line-height: 2;
            font-size: 20px;
          }
        }
      }
    }
  }

  #form {
    display: none;
    z-index: 2;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .form_black {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }

    .wrapper {
      justify-content: center;
    }

    .form {
      position: relative;
      left: 50%;
      top: 35%;
      // transform: translate(-50%, -50%);
      transform: translateX(-50%);
      background: #ffffff;
      // padding: 30px 10px 0;
      width: 300px;
      height: 470px;

      h2.def_title {
        margin-bottom: 30px;
        font-size: 36px;
      }

      img.remove {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 30px;
        cursor: pointer;
      }

      form.def-form{

        input {
          margin-bottom: 20px;

          &:last-child {
            width: 280px;
          }
        }

        input.def-button {
          padding-left: 0;
        }
      }

      label{
        margin-bottom: 20px;

        span {
          font-size: 16px;
        }
      }

      &_call {
        padding: 30px 10px 0;
      }

      &_thank {
        background: $def-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        padding: 60px 30px;
        display: none;

        h2 {
          color: #ffffff;
          font-size: 36px;
        }

        p {
          color: #ffffff;
        }
        // display: none;
      }
    }
  }

  .popup-doc {
    display: none;
    z-index: 2;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .form_black {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }

    &-img {
      display: flex;
      justify-content: center;
      position: absolute;
      left: 50%;
      top: 140px;
      transform: translateX(-50%);
      width: 100%;
    }

  }
}

@media screen
and (min-width: 768px){

  .footer {
    display: flex;
    flex-wrap: wrap;

    &_name {
      justify-content: flex-start;
    }

    &_address {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &_nav {

      nav.menu {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin: 30px 120px 30px 0;

        ul {
          text-align: left;
        }
      }
    }

    #form {

      .form__black {
      }

      .form {
        width: 750px;
        height: 570px;
        padding: 0;

        &.thank {

        }

        h2.def_title {
          margin-bottom: 30px;
          font-size: 40px;
          margin-top: 0;
        }

        img.remove {
          top: 40px;
          right: 40px;
        }

        form.def-form{

          input {
            margin-bottom: 40px;

            &:last-child {
              width: 280px;
            }
          }

          input.def-button {
            padding-left: 0;
          }
        }

        label{
          margin-bottom: 65px;

          span {
            font-size: 20px;
          }
        }

        &_call {
          padding: 60px 140px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          height: 100%;

        }

        &_thank {
          padding: 60px 140px;

          h2 {
            color: #ffffff;
            font-size: 40px;
          }

          p {
            font-size: 20px;

            br {
              display: none;
            }
          }

          img {
            width: 450px;
          }
          // display: none;
        }
      }
    }

    .popup-doc {

      .form_black {

      }

      &-img {
        width: auto;

        img {
          width: 500px;
        }
      }

    }
  }
}

@media screen
and (min-width: 1200px){
  .footer {
    padding: 80px 0 130px;

    &_name {
      order: 1;
    }

    &_address {
      order: 3;
    }

    &_nav {
      order: 2;
      nav.menu {
        margin: 0;

        ul {
        }
      }
    }
  }
}