.header {
 /* background-image: url("./files/imgs/glavnaya/banner1.jpg");*/
  //min-height: 450px;
  background-position-x: center;
  background-size: cover;

  &_main_img {
    margin-top: 85px;
  }

  &_menu{
    padding: 15px 0;
    background: #ffffff;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
  }

  &_burger {

    span {
      width: 45px;
      height: 3px;
      background: $vio-color;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $vio-color;
        display: block;
        top: -12px;
        left: 0;
        border-radius: 2px;
        transition-property: top;
        transition-delay: .3s;
        transition-duration: .3s;
      }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $vio-color;
        display: block;
        top: 12px;
        left: 0;
        border-radius: 2px;
        transition-property: top;
        transition-delay: .3s;
        transition-duration: .3s;
      }
    }
  }

  .active {

    span {
      background-color: transparent;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0);

      &:before {
        top: 0;
        transform: rotate(45deg);
        transition-delay: .1s;
      }
      &:after {
        top: 0;
        transform: rotate(-45deg);
        transition-delay: .1s;
      }
    }
  }

  &_name {
    font-size: 24px;
    color: $vio-color;
    text-transform: uppercase;
    font-family: Gilroy-Bold;

    span {
      font-size: 24px;
      font-family: Gilroy-Bold;
    }
  }
  
  &_button {
    display: none;
    width: 100%;

    .cont {
      display: flex;
      flex-direction: column;
      align-items: center;
     // margin: 30px auto 30px;
      margin: 25px auto 12px;
    }

    .stock {
      width: 260px;
      height: 44px;
      margin-bottom: 15px;
      background: #ffffff;
      color: $vio-color;

      &:hover {
        color: $def-color;
      }
    }

    .call {
      width: 260px;
      height: 44px;
    }
  }

  &_nav {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    display: none;

    nav.menu-header-container {

      ul#menu-header {
        text-transform: uppercase;

        li {

          a {
            color: $black-color;
            line-height: 1.6;
            font-size: 20px;

            &:hover {
              color: $def-color;
            }
          }
        }

        li.drop-down > a {
          display: none;
        }

        li.current-menu-item {

          a {
            color: $def-color;
          }
        }
      }
    }
  }

  &_address {
    font-size: 20px;
    text-align: center;
    width: 100%;
    line-height: 0.2;
    display: none;
    margin-bottom: 15px;

    a.address {
      color: $black-color;
      font-family: Gilroy-Regular;
    }

    a {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Gilroy-SemiBold;

      svg {
        width: 30px;
        height: 25px;
        fill: $def-color;
        margin-right: 8px;
      }
    }
  }
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: #ffffff;

  img {
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}



body.visible {

  #preloader {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  }
}

  body.hidden {

    #preloader {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 2s, opacity 2s linear;
    }
  }




  @media screen
  and (min-width: 768px){
    .header {
     // min-height: 745px;

      &_main_img {
        margin-top: 155px;
      }

      &_menu{
        padding-bottom: 0;
      }

      &_burger {
        order: 1;
      }

      &_name {
        order: 2;
        margin-top: 3px;

        span {
          font-size: 30px;
        }
      }

      &_button {
        order: 4;
        display: block;

        .cont {
          flex-direction: row;
          justify-content: center;
          margin: 10px auto 15px;
        }

        .stock {
          margin-bottom: 0;
          margin-right: 30px;
          height: 54px;
        }

        .call {
          height: 54px;
        }
      }

      &_nav {
        order: 5;
        width: 750px;
        position: absolute;
        left: 50%;
        top: 172px;
        transform: translateX(-50%);
        padding: 30px 0px;
        background: #ffffff;

        nav.menu-header-container {

          ul#menu-header {

            li {

              a {
                line-height: 2;
              }
            }

            li.drop-down > a {
              display: none;
            }
          }
        }
      }

      &_address {
        order: 3;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: auto;
        margin-top: 10px;

        a {
        }
      }
    }
  }


  @media screen
  and (min-width: 1200px){
    .header {

      &_menu{
        padding-bottom: 0;
      }

      &_burger {
        display: none;
      }

      &_name {
        font-size: 30px;
        order: 1;

        span {
          font-size: 30px;
        }
      }

      &_button {
        display: block;
        order: 3;

        .cont {
          flex-direction: row;
          justify-content: flex-end;
          margin: 10px auto 15px;
        }

        .stock {
          margin-bottom: 0;
          margin-right: 30px;
        }

        .call {

        }
      }

      &_nav {
        display: block;
        order: 4;
        margin-top: 15px;
        position: relative;
        transform: none;
        padding: 0 15px;
        top: 0;
        left: 0;

        nav.menu-header-container {

          ul#menu-header {
            display: flex;
            justify-content: space-between;

            li {

              a {

              }
            }

            li.drop-down > a {
              display: block;
              pointer-events: none;


            }

            li.drop-down {
              cursor: pointer;

              &:hover {

                ul.sub-menu {
                  transform: scale(1);
                  transition: 0.4s;
                }
              }
            }
          }

          ul.sub-menu {
            position: absolute;
            display: flex;
            flex-direction: column;
            background: #fff;
            top: 35px;
            padding: 30px 80px 30px 40px;
            left: 147px;
            align-items: flex-start;
            transform: scale(1);
            transition: 0.4s;
            //display: none;

            li {
              text-align: left;
            }

            &.scroll {
             transform: scale(0);
              transition: 0.4s;
            }
          }
        }
      }

      &_address {
        width: auto;
        position: relative;
        order: 2;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        a {
        }
      }
    }
  }
