.main {

  .servises {
    background: $def-color;
    padding: 60px 0;
    
    h2 {
      color: #fff;
    }

    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &_card {
      height: 254px;
      width: 300px;
      padding: 30px;
      border: 2px solid #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;

      .block {

        svg {
          max-width: 90px;
          max-height: 90px;
          margin: 0 auto 45px;
          fill: $def-color;

          &:hover {
            fill: red;
          }
        }

        .text {
          font-size: 22px;
          text-transform: uppercase;
          color: #ffffff;
          font-family: Gilroy-Medium;
          text-align: center;
        }
      }
    }

    &_card:hover {
      background: #fff;
      border: 2px solid $vio-color;

      .block {

        svg {

        }

        .text {
          color: $vio-color;
        }
      }
    }

    &_photo {
      display: none;
    }
  }

  .about {
    padding: 60px 0;

    h2 {
      color: $tvio-color;
     // font-size: 36px;
    }

    &_img {
      margin-bottom: 30px;
    }

    &_text {

      p {
        font-size: 22px;
        line-height: 1.7;
        margin-bottom: 30px;
        color: $black-color;
      }

      img {
        margin-top: 30px;
      }
    }
    
    &_doctor {
      
      h2 {
        text-align: left;
        margin-bottom: 25px;
      }
    }

    &_button {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .more {
        margin-bottom: 30px;
        color: $vio-color;
      }

      .question {
        color: #fff;
        background: $vio-color;
      }
    }
  }

  .equipment {
    padding: 60px 0 35px;
    background: $def-color;

    h2 {
      color: #fff;
    }

    img {
      margin-bottom: 30px;
    }

    &_text {
     // margin-bottom: 30px;
      color: #fff;
    }
  }

  .sign {
    padding: 60px 0;

    h2 {
      padding: 0 10px;
    }

    .form {

      form.def-form{
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
          width: 100%;
          border: 2px solid $def-color;
          height: 55px;
          margin-bottom: 40px;
          font-size: 22px;
          padding-left: 33px;

          &:last-child {
            border: 1px solid $vio-color;
            color: #fff;
            background: $vio-color;
            width: 300px;
          }
        }

        input.def-button {
          padding-left: 0;
        }
      }

      label{
        position: relative;
        margin-bottom: 30px;
        margin-left: 55px;
        cursor: pointer;


        &::before{
          display: block;
          content: "";
          width: 25px;
          height: 25px;
          border: 2px solid $vio-color;
          position: absolute;
          left: -40px;
          top: 50%;
          transform: translateY(-50%);
        }

        &::after{
          display: block;
          content: '';
          width: 25px;
          height: 25px;
          background-image: url('./files/imgs/glavnaya/yes.svg');
          background-size: cover;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -40px;
        }

        input{
          display: none;
        }

        &.not-active{

          &::after{
            display: none;
          }
        }

        span {
          font-size: 20px;
          line-height: 1.5;
          color: $black-color;
        }
      }
    }

    &_photo {
      display: none;
    }
  }
}
