@media screen
and (min-width: 768px){
  .main {

    .servises {
      padding: 120px 0 90px;
      position: relative;

      .center {
        display: block;

        &:last-child {
          //margin-bottom: 0;
        }
      }

      &_card {
        width: 330px;

        .block {

          svg {

            &:hover {
            }
          }

          .text {

          }
        }
      }

      &_photo {
        display: block;

        img {
          margin-bottom: 30px;
        }
      }

      .order-1 {
        order: 1;
      }

      .order-2 {
        order: 3;
        position: relative;
        top: -170px;
      }

      .order-3 {
        order: 4;
      }

      .order-4 {
        order: 2;
      }

      .order-5 {
        order: 5;
        position: absolute;
        top: 520px;
        width: 360px;
      }

      .order-6 {
        order: 6;
        display: flex;
        justify-content: flex-end;
      }

      .order-7 {
        order: 7;
        position: relative;
        top: -38px;
      }

      .order-8 {
        order: 8;
      }
    }

    .about {
      padding: 120px 0;

      &_text {
        position: relative;
        top: -240px;
        margin-bottom: -75px;

        .text {
          border: 2px solid $def-color;
          padding: 47px 30px;
        }
      }

      &_doctor {
        border: 2px solid $def-color;
        padding: 60px 30px 47px;
        margin-bottom: 80px;

        p.def_text {
          margin-bottom: 0;
        }

        h2 {
          font-size: 40px;
          text-align: left;
          margin-top: 0;
        }
      }

      &_button {

        .more {
          margin-bottom: 0;
          margin-right: 30px;
        }
      }
    }

    .equipment {
      padding: 120px 0;

      .pos {
        position: relative;
        top: -70px;
      }

      .equip {

        .def_text {
          margin-bottom: 0;
        }
      }

      &_text {
        border: 2px solid;
        padding: 60px 30px;
      }
    }
  }

}

@media screen
and (min-width: 992px){
  .main {

    .servises {

      .wrapper {
        position: relative;
      }

      .order-2 {
        display: flex;
        justify-content: flex-end;
      }

      .order-3 {

        img {
          width: 330px;
        }
      }

      .order-5 {
        top: 410px;
        left: 120px;
      }

      .order-6 {
        position: relative;
        left: -120px;
      }

      .order-7 {
        display: flex;
        justify-content: flex-end;
        top: -30px;
      }
    }

    .about {

      &_text {
        top: -340px;
        margin-bottom: -230px;
      }
    }

    .equipment {
      padding: 120px 0 200px;

      .wrapper {
        position: relative;
      }

      .pos {
        top: 0;
      }

      .equip {
        position: absolute;
        right: 0;
        top: 642px;
      }

      img {
        margin-bottom: 40px;
      }
    }

  }
}


@media screen
and (min-width: 1200px){
  .main {

    .servises {
      padding-bottom: 150px;

      &_card {
        width: 360px;
      }

      .order-1 {
        order: 1;
        position: static;
      }

      .order-2 {
        order: 4;
        position: absolute;
        top: 130px;
        z-index: 1;
      }

      .order-3 {
        order: 7;
        position: relative;
        top: -48px;

        img {
          width: auto;
        }
      }

      .order-4 {
        order: 2;
        position: static;

        .servises_card {
          width: 350px;
        }
      }

      .order-5 {
        order: 3;
        position: static;
      }

      .order-6 {
        order: 5;
        position: absolute;
        left: 0;
        top: 285px;

        .servises_card {
          width: 350px;
        }
      }

      .order-7 {
        order: 8;
        top: -20px;

        a {
          width: 350px;

          .servises_card {
            width: 350px;
          }
        }
      }

      .order-8 {
        order: 7;
        display: block;
        position: relative;
        top: 105px;

        .servises_card {
          width: 350px;
        }
      }
    }

    .about {

      &_text {
        top: -420px;
        margin-bottom: -320px;

        p {

        }
      }

      &_doctor {
        padding: 60px 50px;

        p.def_text {
          margin-bottom: 30px;
        }
      }
    }

    .equipment {
      position: relative;
      padding: 120px 0;

      &_text {
        padding: 60px;
      }

      .pos {
        top: 5px;
      }

      .equip {
        top: 608px;
      }
    }

  }
}