.main {

  /*.doctor {
    padding: 90px 0;

    &_card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
      cursor: pointer;

      &:hover {

        img {
            box-shadow: 4px 4px 0px darkgreen;
        }
      }

     &_img {
       margin-bottom: 25px;
     }

      h2 {
        margin-bottom: 10px;
        font-size: 22px;
        font-family: Gilroy-SemiBold;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.4;
      }

      p {
        font-size: 22px;
        text-transform: lowercase;
      }
    }
  }*/
}