@font-face {
  font-family: 'Gilroy-Regular';
  src: url('./files/fonts/Gilroy-Regular.eot');
  src: url('./files/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('./files/fonts/Gilroy-Regular.woff') format('woff'),
  url('./files/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('./files/fonts/Gilroy-Medium.eot');
  src: url('./files/fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('./files/fonts/Gilroy-Medium.woff') format('woff'),
  url('./files/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('./files/fonts/Gilroy-SemiBold.eot');
  src: url('./files/fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('./files/fonts/Gilroy-SemiBold.woff') format('woff'),
  url('./files/fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap&subset=cyrillic-ext');

$def-color: #74ad76;
$vio-color: #4c3059;
$black-color: #303030;

*{
  box-sizing: border-box;
  color: $black-color;
  font-size: 14px;
  font-family: 'Gilroy-Regular';
}

body{
  display: flex;
  flex-direction: column;
  //background-color: #E5E5E5;
}

html, body{
  min-height: 100vh!important;
  height: 100%!important;
  margin: 0;
}

main{
  flex: 1 0 auto;
}
footer, header{
  flex: 0 0 auto;
}

*::before, *::after{
  max-width: 100%;
}

ul{
  margin: 0;
}

li{
  margin: 0;
  padding: 0;
}

img, svg{
  display: block;
  max-height: 100%;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
  font-size: 1.15rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  //color: $def-color;
  text-decoration: none;
}

p, span, a{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  color: $def-color;
  text-decoration: none;

  &:hover{
    color: $def-color;
    text-decoration: none;
  }
}

input{
  max-width: 100%;
}

input[type="submit"]{
  padding: 1px 5px;
}












